<%= div_for(question) do %>
  <div class="quiz-area">
    <h1>Question <%= question.id %></h1>
    <h2><%= question.content %></h2>

    <form>
      <input type="radio" name="gender" value="male"><%= question.option1 %><br>
      <input type="radio" name="gender" value="female"><%= question.option2 %><br>
      <input type="radio" name="gender" value="other"><%= question.option3 %><br>  
      <input type="submit" value="Submit">
    </form>

  </div>
<% end %>
