<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_name') %> | <%= t('tagline') %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' https://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <div class="wrapper" data-action="vue">
      <%= render 'layouts/header' %>
      <%= render 'layouts/messages' %>

      <%= yield  %>

      <%= render 'layouts/footer' %>
    </div>

  </body>
    <%= render :partial => 'layouts/google_analytics' %>
</html>
