<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_name') %> | <%= t('tagline') %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />

    <%= render 'layouts/pwa/pwa_meta' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- action_cable_meta_tag -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>
  <body class="lines-grad">

    <div class="container">
      <%= render 'layouts/components/messages' %>
      <%= render 'layouts/components/reg_header' %>

      <div class="main devise">
        <div class="form">
          <%= yield  %>
        </div>
      </div>

    </div>

  </body>
    <%= render :partial => 'layouts/components/google_analytics' %>
</html>
