<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_name') %> | <%= t('tagline') %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/messages' %>
    <%= yield  %>
  </body>
</html>